﻿@import "bootstrap/bootstrap";

body {
    padding-top: 60px;
    padding-bottom: 40px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
 }

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/* styles for removing the background from form */
.no-color {
  background-color: white;
  border-style:none;
}

.image-size(@sizeId) {
    height: getImageSizeHeight(@sizeId);
    width: getImageSizeWidth(@sizeId);
}

.a {
    /*.image-size("xyz");*/
    height: (getImageSizeHeight('abc') + 2px);
    background-color: red;
}